:host {
  width: 100vw;
}

.main-layout {
  min-height: 100vh;
}

.main-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.main-header {
  position: fixed;
  padding: 0;
  width: 100%;
  z-index: 2;
}


nz-content {
  padding-top: 64px;
  margin: 24px;
}

.inner-content {
  overflow: initial;
  padding: 24px;
  background: #fff;
  height: 100%;
}
